alembic==1.0.6
asn1crypto==0.24.0
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
Click==7.0
Flask==1.0.2
Flask-Login==0.4.1
Flask-Migrate==2.3.1
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
future==0.17.1
gunicorn==19.9.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
Mako==1.0.7
MarkupSafe==1.1.0
mypy==0.670
mypy-extensions==0.4.1
numpy==1.16.1
pandas==0.24.1
Pillow==5.4.1
pycparser==2.19
PySocks==1.6.8
pyTelegramBotAPI==3.6.6
python-dateutil==2.7.5
python-editor==1.0.3
pytz==2018.9
requests==2.7.0
six==1.12.0
SQLAlchemy==1.2.16
telebot==0.0.3
Transcrypt==3.7.16
typed-ast==1.3.1
urllib3==1.24.1
Werkzeug==0.14.1
WTForms==2.2.1
